<body class='xs-all-messages-body' style='background-color:white'>
<%= render 'shared/navbar'%>
<div class='messenger-xs'>
	<div class='row mailboxheader text-center'>
		<div class='ribbon-vert-stitches-top'></div>
		<i class="pinline fa fa-inbox" aria-hidden="true"></i> &nbsp; &nbsp;<p class='pinline'> Мои сообщения</p>
		<div class='ribbon-vert-stitches-bottom'></div>
	</div>
	<div class='row all-individual-messages-xs'>
		<ul class='liste-conversations'>
			<%@conversations.each do |conversation|%>
				<%= link_to conversation_path(conversation) do%>
					<li class="one-conversation-xs text-center">
						<div class='row text-center'>
							<div class='col-xs-3 text-left avatar-container'>
								<%conversation.participants.each do |participant| %>
									<%if participant.prenom != current_user.prenom %>
										<%if participant.avatars.first.present?%>
											<img src='<%=participant.avatars.first.image.thumb('55x55#').url%>' class='message-avatar-xs'>
										<%else%>
											<img src='<%= asset_url("no-profile.gif")%>' class='message-avatar-xs'>
										<%end%>
									<%end%>
								<%end%> 
							</div>
							<div class='col-xs-5 text-left'>
								<p class='nomdemessage-xs'> 
									<%conversation.participants.each do |participant| %>
										<%if participant.prenom != current_user.prenom %>
										<%= participant.prenom%>
										<%end%>
									<%end%> 
								</p>
							</div>
							<div class='col-xs-4 text-center created-at-xs-conversation'>
								<p class='date-message-xs'>  <%= conversation.created_at.to_date.strftime("%d/%m/%Y")%></p>
							</div>
						</div>
						<div class='row'>
							<div class='col-xs-8 col-xs-offset-3 text-left'>
								<p class='messageBody-xs'><%=truncate(conversation.messages.last.body, length: 23)%></p>
							</div>
						</div>
					</li>
				<%end%>
			<%end%>
		</ul>
	</div>
</div>

</body>