<% @conversation.messages.each do |msg| %>
		<%msg.mark_as_read(current_user)%>
		<%if msg.sender == current_user%>
			<div class='row conversation-both text-right'>
				<div class='col-xs-3 text-right'>
					<%if current_user.avatars.first.present?%>
						<img src='<%=current_user.avatars.first.image.thumb('55x55#').url%>' class='message-avatar2'>
					<%else%>
						<img src='<%=asset_url("no-profile.gif")%>' class='message-avatar2'>
					<%end%>
				</div>
				<div class='col-xs-9 text-left lesMessagesDeMoi'>
					<div class='speech-effect'>
						<div class='message-bubble'>
							<div class='speechbubble pinlineblock'>
							</div></br>
							<div class='pinlineblock msgmoi'>
								<p class='pinline'><%= msg.body%></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%else%>
			<div class='row conversation-both text-right'>
				<div class='col-xs-9 text-right lesMessagesDeLui'>
					<div class='message-bubble2 pinlineblock'>
						<div class='pinlineblock speechbubble2'>
						</div></br>
						<div class='pinlineblock msglui'>
							<p class='pinline'><%= msg.body%></p>
						</div>
					</div>
				</div>
				<div class='col-xs-3 text-left'>
					<%if msg.sender.avatars.first.present?%>
						<img src='<%=msg.sender.avatars.first.image.thumb('55x55#').url%>' class='message-avatar2'>
					<%else%>
						<img src='<%= asset_url("no-profile.gif")%>' class='message-avatar2'>
					<%end%>
				</div>
			</div>
		<%end%>

	<%end%>