    <%= render 'shared/navbar' %>

<div class='vertical-center'>
  <div class='col-sm-6 col-sm-offset-3 text-center log'>
    <div class='row reg-log-block text-center'>
      <div class='row reg-log-block-border text-center'>

        <div class='row forgot-title text-center'>
          <h2><i class='glyphicon glyphicon-send'></i> Забыли пароль?</h2>
        </div>
        </br>
        <p>Введите свой E-mail с помошью которого вы зарегистрировались и нажмите на "Получить инструкцию". Вы сразу же получите писмо на указонный вами E-mail через которого сможите изменить свой пароль.</p></br>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

          <div class='row usertextfield'>
            <div class='col-sm-2 col-sm-offset-1 text-center user'>
              <i class="fa fa-at" aria-hidden="true"></i>
            </div>
                  
            <div class='col-sm-8 text-left montextfield'>
              <div class="field">
               <%= f.email_field :email, autofocus: true, class:'obligatoir' %>
              </div>
            </div>
          </div>

          <div>
            <%= f.submit "Получить инструкцию", class: "forgot-submitbox" %>
          </div>
          <%end%>
      </div>
    </div>
  </div>
</div>