		<%= render 'shared/navbar' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class='vertical-center'>
  <div class='container-fluid settings-sm '>
    <div class='col-sm-10 col-sm-offset-1 text-center reg-log-block'>
      <div class=' row reg-log-block-border'>
        <% if resource.errors.any? %>
          <div id="error_explanation" class='error text-left'>
          <ul class='listerreurs'>
              <% resource.errors.each do |attribute, message| -%>
                  <% if message.is_a?(String)%>
                      <li><h5><%= message %></h5></li>
                <% end %>
              <% end -%>
            </ul>
            <h5>Пожалуйста, заполните следующие поля и нажмите на «ИЗМЕНИТЬ». </h5>
          </div>
        <% end %>

        ·

        <div class='row log-title text-center'>
          <h2><i class='glyphicon glyphicon-cog'></i> Настройки</h2>
        </div>
        </br>
        </br>
        
        <div class='row usertextfield'>
          <div class='col-sm-2 col-sm-offset-1 text-center user'>
            <i class="fa fa-user iconedeuser" aria-hidden="true"></i>
          </div>
          
          <div class='col-sm-8 text-left montextfield'>
            <div class="field">
              <%= f.text_field :prenom, autocomplete: "off", class: 'obligatoir', :placeholder => 'Придумайте себе имя'%>
            </div>
          </div>
        </div>


        <div class='row usertextfield'>
          <div class='col-sm-2 col-sm-offset-1 text-right text-center user'>
            <i class="fa fa-at iconedeuser" aria-hidden="true"></i>
          </div>
          <div class='col-sm-8 text-left montextfield'>
            <div class="field">
              <%= f.email_field :email, autocomplete: "off", class: 'obligatoir', 
              :placeholder => 'Ваш E-mail' %>
            </div>
          </div>
        </div>

        <div class='row usertextfield'>
          <em>Пароль: 8 символов минимум</em>
        </div>

        <div class='row usertextfield'>
          <div class='col-sm-2 col-sm-offset-1 text-right text-center user'>
             <i class="fa iconedeuser fa-unlock-alt" aria-hidden="true"></i>
          </div>
          <div class='col-sm-8 text-left montextfield'>
            <div class="field">
              <%= f.password_field :password, autocomplete: "off", value: nil, class:'obligatoir', :placeholder => 'Новый пароль' %>
            </div>
          </div>
        </div>

        <div class='row usertextfield'>
          <div class='col-sm-2 col-sm-offset-1 text-right text-center user'>
            <i class="fa iconedeuser fa-lock" aria-hidden="true"></i>
          </div>
          
          <div class='col-sm-8 text-left montextfield'>
            <div class="field">
             <%= f.password_field :password_confirmation, value: nil, autocomplete: "off", class:'obligatoir', :placeholder => 'Повторите' %>
            </div>
          </div>
        </div>

        <div class='row usertextfield'>
          <div class='col-sm-2 col-sm-offset-1 text-right text-center user'>
            <i class="fa iconedeuser fa-lock" aria-hidden="true"></i>
          </div>
          
          <div class='col-sm-8 text-left montextfield'>
            <div class="field">
             <%= f.password_field :current_password, autocomplete: "off", class:'obligatoir', placeholder:'Текущий пароль', autocomplete: "off" %>
            </div>
          </div>
        </div>


        <div class='row'>
          <div class='col-sm-5 col-sm-offset-1 text-left settings-delete-profile-and-goback'>
            <%= link_to "Удалить профиль", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete %>
          </div>

          <div class='col-sm-5 text-right settings-delete-profile-and-goback'>
            <%= link_to "Вернуться назад", :back %>
          </div>
        </div>
      
        <div class='row text-center submit-box-row'>
          <%= f.submit "ИЗМЕНИТЬ", class: "settings-submitbox text-center" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
