
		<%= render 'shared/navbar' %>
	<div class=' container-fluid text-center inboxtitle'>
		<h3 class='moisoobshenie'><i class="fa fa-inbox" aria-hidden="true"></i> 
 Мои сообщения</h3>
	</div>
<div class='container-fluid messagerie text-center hidden-xs'>
		<%@conversations.each do |conversation|%>
		
		<% if conversation.messages.last.is_unread?(current_user)%>
		<div onclick="location.href='<%= conversation_path(conversation)%>';" class='row messagelienNonlu text-center'>
			<div class='col-md-4'>
				<div class='col-md-4'>
					<i class='glyphicon glyphicon-envelope'></i>
				</div>
				<div class='col-md-8'>
					<p class='nomdemessage'><%conversation.participants.each do |participant| %>
					<%if participant.prenom != current_user.prenom %>
					<%= participant.prenom%>
					<%end%>
					<%end%>  <i class="fa fa-comment-o"></i></p>
				</div>
			</div>
			<%else%>
		<div onclick="location.href='<%= conversation_path(conversation)%>'" class='row messagelien text-center'>
			<div class='col-md-4'>
				<div class='col-md-4'>
				<i class='glyphicon glyphicon-eye-open'></i>
				</div>
				<div class='col-md-8'>
				<p class='nomdemessage'><%conversation.participants.each do |participant| %>
					<%if participant.prenom != current_user.prenom %>
					<%= participant.prenom%>
					<%end%>
					<%end%>  <i class="fa fa-comment-o"></i></p>
				</div>
			</div>
			<%end%>
			<div class='col-md-8  subject'>
				<div class='col-md-6 subjecttext'>
					<%=truncate(conversation.messages.last.body, length: 40)%>
				</div>
				<div class='col-md-3 created_at'>
					<%=conversation.created_at.to_date%>
				</div>
				<div class='col-md-3 deletemessage'>
					<%= link_to conversation_path(conversation) do%>
					<i class ='glyphicon glyphicon-share-alt'></i>
					<%end%>
				</div>
			</div>
		</div>
	<%end%>
</div>

<div class='container-fluid messagerie text-left visible-xs'>
		<%@conversations.each do |conversation|%>
		
		<% if conversation.messages.last.is_unread?(current_user)%>
		<div onclick="location.href='<%= conversation_path(conversation)%>';" class='row messagelienNonluxs text-center'>
			<div class='col-xs-4'>
				<div class='col-xs-4'>
					<i class='glyphicon glyphicon-envelope'></i>
				</div>
				<div class='row'>
					<p class='nomdemessage'><%=conversation.messages.last.sender.prenom%></p>
				</div>
			</div>
			<%else%>
		<div onclick="location.href='<%= conversation_path(conversation)%>';" class='row messagelien text-left'>
			<div class='row text-center'>
				<p class='nomdemessage'>
					<%conversation.participants.each do |participant| %>
					<%if participant.prenom != current_user.prenom %>
					<%= participant.prenom%>
					<%end%>
					<%end%>
					
				</p>
			</div>
			<%end%>
			<div class='row  subject'>
				<div class='subjecttextxs text-left'>
					<p><%=truncate(conversation.messages.last.body, length: 70)%></p>
				</div>
			</div>
		</div>
	<%end%>
</div>