<body style='background-color:white'>
<%= render 'shared/navbar'%>
<div class='container-fluid messenger'>
	<div class='row mailboxheader text-center'>
		<i class="pinline fa fa-inbox" aria-hidden="true"></i> &nbsp; &nbsp;<p class='pinline'> Мои сообщения</p>
	</div>
	<div class='row all-individual-messages'>
		<div class='col-md-2 all-messages'>
			<ul class='liste-conversations'>
				<%@conversations.each do |conversation|%>
					<li data-convId = '<%= conversation.id%>' class="one-conversation msgsbackground">
						<div class='row enveloppe-messages text-left'>
							<div class='col-md-5 text-left avatar-container'>
								<%conversation.participants.each do |participant| %>
									<%if participant.prenom != current_user.prenom %>
										<%if participant.avatars.first.present?%>
											<img src='<%=participant.avatars.first.image.thumb('55x55#').url%>' class='message-avatar'>
										<%else%>
											<img src='<%= asset_url("no-profile.gif")%>' class='message-avatar'>
										<%end%>
									<%end%>
								<%end%> 
							</div>
							<div class='col-md-7 text-left'>
								<p class='nomdemessage'> 
									<%conversation.participants.each do |participant| %>
										<%if participant.prenom != current_user.prenom %>
										<%= participant.prenom%>
										<%end%>
									<%end%> 
								</p>
							</div>
						</div>
					</li>
				<%end%>
			</ul>
		</div>
		<div class='col-md-10 conv-past'>
			<div class='row messagesboxajax'>

			</div>
			<div class='row replayboxajax'>

			</div>
		</div>
	</div>
</div>
</body>