<div class='container text-center'>
	</br>
	<div class='row headermessenger text-left fixed-top'>
		<%= link_to '<- NAZAD', conversations_path(current_user), class: 'btn btn-info'%>
	</div>
	<div class='row'>
	<div class='col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3  myrow'>
	<% @conversation.messages.each do |msg| %>
	<%msg.mark_as_read(current_user)%>
	<div class='row messengerarea '>
	
		<%if msg.sender == current_user%>
		<div class= 'row messagemoi text-left'>
			<p class='msgmoi'><%= msg.body%></p>
		</div>
		<%else%>
		<div class='row messagelui text-right'>
			<p class='msglui'><%= msg.body%></p>
		</div>
		<%end%>

	</div>
	<%end%>
	</div>
	</div>
	<%= form_tag conversation_messages_path(@conversation), method: :post do%>
	<div class='row meesageinputplace'>
	<div class='col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 myrow'>
		<%= text_area_tag :body, nil, class: 'messageinput tracking'%>
		<%= submit_tag 'otpravit'%>
		</div>
	</div>
	<%end%>
	 <script type="text/javascript">
	$(this).ready(function(){
		window.scrollTo(0, document.body.clientHeight); 
	});
	        </script>
</br></br></br></br></br></br>
	
</div>