<%= render 'shared/navbar' %>

	<div class='searchbackground hidden-xs'>
		<%= form_for @search, class:'gaga' do |s| %>
			<div class="field">  
				<%= s.text_field :ville_d, class:'inputter', placeholder: 'Откуда?', id:'villesdsearch'%>
				<%= s.text_field :ville_a, class:'inputter', placeholder: 'Куда?', id:'villesasearch'%>
				<%= button_tag(type: "submit", class: "poisk larg-btn btn-info") do %>
			 		<i class="glyphicon glyphicon-search"></i> Поиск
				<%end%></br>
				<%= link_to 'Показать все маршруты', root_path %>
	  		</div>
		<% end %>
	</div>

	<div class='searchbackground visible-xs'>
		<%= form_for @search, class:'gaga' do |s| %>
			<div class="row text-left field ">  
		   		<%= s.text_field :ville_d, class:'inputter', placeholder: 'Откуда?', id:'villesdxssearch'%></br>
				<%= s.text_field :ville_a, class:'inputter', placeholder: 'Куда?', id:'villesaxssearch'%>
				<%= button_tag(type: "submit", class: "poiskxss larg-btn btn-info") do %>
					<i class="glyphicon glyphicon-search"></i> Поиск
				<%end%></br> <%= link_to 'Показать все маршруты', root_path %>
	  		</div>
		<% end %>
	</div>

	<%if @search.search_annonces.count == 0 %>
		<div class='text-center'>
			</br></br></br></br>
			<h2><i class='glyphicon glyphicon-exclamation-sign'></i></h2>
			<h3>К сожелению мы не нашли соответствующие объявления</h3>
			<p>Попробуйте найти объявление в ближайших к вам городах</p>
		</div>
	<%else%>
		<%@lespagesall.each do |annonce|%>
			<div class='container-fluid annonce text-center hidden-xs'>
				<div class='row ligne text-left'>
					<div class=' col-md-4 photo'>
						<%= content_tag(:div, content_tag(:p, "ВОДИТЕЛЬ УЕХАЛ"), class: "expired") if annonce.date_depart < Date.today %>
				
						<%if annonce.image_stored?%>
							<%= image_tag annonce.image.thumb('300x250#').url%>
						<%else%>
							<div class='fotonotfound'>
							</div>
						<%end%>
					</div>
				
					<div class='col-md-8 text-left'>
						<div class='row'>		
							<div class= 'col-md-8 text-center datedirection'>
								<p> <%= annonce.ville_depart.truncate_words(1, omission: ' ') %>
								<%if annonce.villeinter1?%>
									<%unless annonce.villeinter2?%>
										<i class="fa fa-angle-right"aria-hidden="true"></i>
										<%=annonce.villeinter1.truncate_words(1, omission: ' ') %>
									<%end%>
								<%end%>
								<i class="fa fa-angle-right"aria-hidden="true"></i>
								<%= annonce.ville_arrive.truncate_words(1, omission: ' ')%></p>
							</div>
						
							<div class= 'col-md-4 text-right prix'>
								<h3><%= annonce.prix_passager%><i class='fa fa-eur'></i></h3>
								<h5 class='ladate'><%= annonce.date_depart.strftime("%d/%m/%Y") %></h5>
							</div>
								</br>
						</div>
						<div class='row infodumilieu'>
							<div class='col-md-4'>
								<%if annonce.nombre_chauffeurs?%>
									<% if annonce.nombre_chauffeurs == 1%>
										<p><i class='fa fa-male'> </i>   <%= annonce.nombre_chauffeurs %> Водитель</p>
									<%else%>
										<p><i class='fa fa-users'> </i>   <%= annonce.nombre_chauffeurs %> Водителя</p>
									<%end%>
								<%end%>
								<p><i class='fa fa-suitcase'></i>   <%= annonce.poid_max_passager %> кг/макс</p> 
								<%if annonce.arrets_chaque?%>
									<% if annonce.arrets_chaque == 1%>
										<p><i class='fa fa-coffee'></i> Остановка каждый час</p>
									<%elsif annonce.arrets_chaque == 2%>
										<p><i class='fa fa-coffee'></i> Остановка каждые <%= annonce.arrets_chaque %> часа</p>
									<%elsif annonce.arrets_chaque == 3%>
										<p><i class='fa fa-coffee'></i> Остановка каждые <%= annonce.arrets_chaque %> часа</p>
									<%elsif annonce.arrets_chaque == 4%>
										<p><i class='fa fa-coffee'></i> остановка каждые <%= annonce.arrets_chaque %> часа</p>
									<%elsif annonce.arrets_chaque > 4%>
										<p><i class='fa fa-coffee'></i> Остановка каждые <%= annonce.arrets_chaque %> часов</p>
									<%end%>	
								<%end%>
							</div>
							<div class='col-md-4 annonce_info2'>
								<% if annonce.accept_colis == true%>
									<p><i class='fa fa-check-circle'> </i> Перевозка груза:</p>
									<p> <%= annonce.prix_kg_colis%> <i class='fa fa-eur'> </i> кг. мин вес  <%= annonce.poid_min_colis%> кг</p>
								<%else%>
									<p><i class='fa fa-times-circle'> </i> Перевозка посылок</p>
								<%end%>
								<% if annonce.accept_colis_valeur == true%>
									<p><i class='fa fa-check-circle'> </i> Перевозка ценных бумаг</p>
								<%else%>
									<p><i class='fa fa-times-circle'> </i> Перевозка ценных бумаг</p>
								<%end%>
							</div>

							<div class='col-md-4 text-left prixcontact'>
								<%if annonce.telephones?%>
									<%if annonce.telephones_type1?%>
										<p class='pinline'><i class="fa fa-whatsapp" aria-hidden="true"></i> </p>
									<%end%>
									<%if annonce.telephone_type1?%>
										<p class='pinline'><i class="fa fa-mobile" aria-hidden="true"></i> </p>
									<%end%>
									<p class='pinline'><%=annonce.telephones%></p></br>
								<%end%>

								<%if annonce.telephones2?%>
									<%if annonce.telephones_type2?%>
										<p class='pinline'><i class="fa fa-whatsapp" aria-hidden="true"></i> </p>
									<%end%>
									<%if annonce.telephone_type2?%>
										<p class='pinline'><i class="fa fa-mobile" aria-hidden="true"></i> </p>
									<%end%>
									<p class='pinline'><%=annonce.telephones2%></p></br>
								<%end%>

								<%if annonce.telephones3?%>
									<%if annonce.telephones_type3?%>
										<p class='pinline'><i class="fa fa-whatsapp" aria-hidden="true"></i> </p>
									<%end%>
									<%if annonce.telephone_type3?%>
										<p class='pinline'><i class="fa fa-mobile" aria-hidden="true"></i> </p>
									<%end%>
									<p class='pinline'><%=annonce.telephones3%></p></br>
								<%end%>

								<%if annonce.telephones4?%>
									<%if annonce.telephones_type4?%>
										<p class='pinline'><i class="fa fa-whatsapp" aria-hidden="true"></i> </p>
									<%end%>
									<%if annonce.telephone_type4?%>
										<p class='pinline'><i class="fa fa-mobile" aria-hidden="true"></i> </p>
									<%end%>
									<p class='pinline'><%=annonce.telephones4%></p>
								<%end%>
							</div>
						</div>
						<%unless annonce.villeinter2?%>
							<div class='row text-right map'></br>
								<%= link_to 'Подробнее', annonce_path(annonce), :class => "btn btn-info leboutonpodrobnee" %>
							</div>
							<%end%>
					</div>
				</div>
				<%if annonce.villeinter2?%>
				<div class='row marshrut'>
					<div class='col-md-10 text-center map'>
							<div class='pinlineblock gorod'>
								<div class='entourp'>
								<p class='pinline'><%= annonce.ville_depart.truncate_words(1, omission: ' ') %></p>
								</div>
								</br>
								<h3 class='pinline spec'><i class="fa fa-circle-o" aria-hidden="true"></i><div class='maplinespec pinline'></div>
								</h3>
							</div>
							<%if annonce.villeinter1?%>
								<div class='pinlineblock gorod'>
									<div class='entourp'>
										<p class='pinline'><%=annonce.villeinter1.truncate_words(1, omission: ' ') %></p>
									</div>
									</br>
									<h4 class='pinline'><i class="fa fa-circle" aria-hidden="true"></i>
									<div class='mapline pinline'></div></h4>
								</div>
							<%end%>
							<%if annonce.villeinter2?%>
								<div class='pinlineblock gorod'>
									<div class='entourp'>
										<p class='pinline'><%=annonce.villeinter2.truncate_words(1, omission: ' ') %></p>
									</div>
									</br>
									<h4 class='pinline'><i class="fa fa-circle" aria-hidden="true"></i>
									<div class='mapline pinline'></div></h4>
								</div>
							<%end%>
							<% if annonce.villeinter3?%>
								<div class='pinlineblock gorod'>
									<div class='entourp'>
										<p class='pinline'><%=annonce.villeinter3.truncate_words(1, omission: ' ') %></p>
									</div>
									</br>
									<h4 class='pinline'><i class="fa fa-circle" aria-hidden="true"></i>
									<div class='mapline pinline'></div></h4>
								</div>
							<%end%>
							<% if annonce.villeinter4?%>
								<div class='pinlineblock gorod'>
									<div class='entourp'>
										<p class='pinline'><%=annonce.villeinter4.truncate_words(1, omission: ' ') %></p>
									</div>
									</br>
									<h4 class='pinline'><i class="fa fa-circle" aria-hidden="true"></i>
										<div class='mapline pinline'></div></h4>
								</div>
							<%end%>
							<% if annonce.villeinter5?%>
								<div class='pinlineblock gorod'>
									<div class='entourp'>
										<p class='pinline'><%=annonce.villeinter5.truncate_words(1, omission: ' ') %></p>
									</div>
									</br>
									<h4 class='pinline'><i class="fa fa-circle" aria-hidden="true"></i>
									<div class='mapline pinline'></div></h4>
								</div>
							<%end%>
							<% if annonce.villeinter6?%>
								<div class='pinlineblock gorod'>
									<div class='entourp'>
										<p class='pinline'><%=annonce.villeinter6.truncate_words(1, omission: ' ') %></p>
									</div>
									</br>
									<h4 class='pinline'><i class="fa fa-circle" aria-hidden="true"></i>
										<div class='mapline pinline'></div></h4>
								</div>
							<%end%>
							<% if annonce.villeinter7?%>
								<div class='pinlineblock gorod'>
									<div class='entourp'>
										<p class='pinline'><%=annonce.villeinter7.truncate_words(1, omission: ' ') %></p>
									</div>
									</br>
									<h4 class='pinline'><i class="fa fa-circle" aria-hidden="true"></i>
										<div class='mapline pinline'></div></h4>
								</div> 
							<%end%>
							<% if annonce.villeinter8?%>
								<div class='pinlineblock gorod'>
									<div class='entourp'>
										<p class='pinline'><%=annonce.villeinter8.truncate_words(1, omission: ' ') %></p>
									</div>
									</br>
									<h4 class='pinline'><i class="fa fa-circle" aria-hidden="true"></i>
										<div class='mapline pinline'></div></h4>
								</div>
							<%end%>
							<% if annonce.villeinter9?%>
								<div class='pinlineblock gorod'>
									<div class='entourp'>
										<p class='pinline'><%=annonce.villeinter9.truncate_words(1, omission: ' ') %></p>
									</div>
									</br>
									<h4 class='pinline'><i class="fa fa-circle" aria-hidden="true"></i>
										<div class='mapline pinline'></div></h4>
								</div>
							<%end%>
							<% if annonce.villeinter10?%>
								<div class='pinlineblock gorod'>
									<div class='entourp'>
										<p class='pinline'><%=annonce.villeinter10.truncate_words(1, omission: ' ') %></p>
									</div>
									</br>
									<h4 class='pinline'><i class="fa fa-circle" aria-hidden="true"></i>
									<div class='mapline pinline'></div></h4>
								</div>
							<%end%>

							<div class='pinlineblock gorod'>
								<div class='entourp'>
										<p class='pinline'><%=annonce.ville_arrive.truncate_words(1, omission: ' ') %></p>
									</div>
								</br>
								<h3 class='pinline spec'><i class="fa fa-circle-o" aria-hidden="true"></i></h3>
							</div>
					</div>

					<div class='col-md-2 text-right map'></br>
						<%= link_to 'Подробнее', annonce_path(annonce), :class => "btn btn-info leboutonpodrobnee" %>
					</div>
				</div>
				<%end%>
			</div>










			<div class='annoncexs text-center visible-xs'>
				<div class="datedirectionbackground">
					<div class='row text-center datedirectionxs'>
						<p> <%= annonce.ville_depart.truncate_words(1, omission: ' ') %>
						<% if annonce.villeinter1?%>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<%=annonce.villeinter1.truncate_words(1, omission: ' ') %>
						<%end%>
										
						<% if annonce.villeinter2?%>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<%=annonce.villeinter2.truncate_words(1, omission: ' ') %>
						<%end%>
										
						<% if annonce.villeinter3?%>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<%=annonce.villeinter3.truncate_words(1, omission: ' ') %>
						<%end%>
										
						<% if annonce.villeinter4?%>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<%=annonce.villeinter4.truncate_words(1, omission: ' ') %>
						<%end%>
										
						<% if annonce.villeinter5?%>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<%=annonce.villeinter5.truncate_words(1, omission: ' ') %>
						<%end%>
										
						<% if annonce.villeinter6?%>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<%=annonce.villeinter6.truncate_words(1, omission: ' ') %>
						<%end%>
										
						<% if annonce.villeinter7?%>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<%=annonce.villeinter7.truncate_words(1, omission: ' ') %>
						<%end%>
										
						<% if annonce.villeinter8?%>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<%=annonce.villeinter8.truncate_words(1, omission: ' ') %>
						<%end%>
										
						<% if annonce.villeinter9?%>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<%=annonce.villeinter9.truncate_words(1, omission: ' ') %>
						<%end%>
										
						<% if annonce.villeinter10?%>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<%=annonce.villeinter10.truncate_words(1, omission: ' ') %>
						<%end%>
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						<%= annonce.ville_arrive.truncate_words(1, omission: ' ')%>
						</p>
					</div>
				</div>
				<div class='row text-center photo'>
					<%= content_tag(:div, content_tag(:p, "ВОДИТЕЛЬ УЕХАЛ"), class: "expiredxs") if annonce.date_depart < Date.today %>
					<%if annonce.image_stored?%>
						<div>
							<%= image_tag annonce.image.thumb('330x260#').url%>
						</div>
					<%else%>
						<div class='fotonotfoundxs'>
						</div>
					<%end%>
				</div>
				<div class='row text-left'>
					<div class='row prixxs'>
						<div class= 'prix'>
							<div class='col-xs-5 text-center'>
								<h3 ><%= annonce.prix_passager%><i class='fa fa-eur'> </i> </h3>
							</div>
							<div class='datedirectionxs col-xs-7'>
								<p>  <%= annonce.date_depart.strftime("%d/%m/%Y")%> </p>
							</div>
						</div>
						</br>
					</div>

					<div class='row marges'>
						<div class='col-xs-5'>
							<%if annonce.nombre_chauffeurs?%>
								<% if annonce.nombre_chauffeurs == 1%>
									<p><i class='fa fa-male'> </i>   <%= annonce.nombre_chauffeurs %> Водитель</p>
								<%else%>
									<p><i class='fa fa-users'> </i>   <%= annonce.nombre_chauffeurs %> Водителя</p>
								<%end%>
							<%end%>
							<p><i class='fa fa-suitcase'></i>   <%= annonce.poid_max_passager %> кг/макс</p> 
							<%if annonce.arrets_chaque?%>
								<% if annonce.arrets_chaque == 1%>
									<p><i class='fa fa-coffee'></i> Остановка каждый час</p>
								<%elsif annonce.arrets_chaque == 2%>
									<p><i class='fa fa-coffee'></i> Остановка каждые <%= annonce.arrets_chaque %> часа</p>
								<%elsif annonce.arrets_chaque == 3%>
									<p><i class='fa fa-coffee'></i> Остановка каждые <%= annonce.arrets_chaque %> часа</p>
								<%elsif annonce.arrets_chaque == 4%>
									<p><i class='fa fa-coffee'></i> остановка каждые <%= annonce.arrets_chaque %> часа</p>
								<%elsif annonce.arrets_chaque > 4%>
									<p><i class='fa fa-coffee'></i> Остановка каждые <%= annonce.arrets_chaque %> часов</p>
								<%end%>
							
							<%end%>
						</div>
						<div class='col-xs-7 annonce_info2'>
							<% if annonce.accept_colis == true%>
								<p><i class='fa fa-check-circle'> </i> Перевозка груза:</p>
								<p> <%= annonce.prix_kg_colis%> <i class='fa fa-eur'> </i> кг. мин вес  <%= annonce.poid_min_colis%> кг</p>
							<%else%>
								<p><i class='fa fa-times-circle'> </i> Перевозка посылок</p>
							<%end%>
							<% if annonce.accept_colis_valeur == true%>
								<p><i class='fa fa-check-circle'> </i> Перевозка бумаг</p>
							<%else%>
								<p><i class='fa fa-times-circle'> </i> Перевозка бумаг</p>
							<%end%>
						</div>
					</div>
					<div class='row text-center datedirectionbackground'>
						<div class="col-xs-6 text-left">
								<%if annonce.telephones?%>
									<%if annonce.telephones_type1?%>
										<p class='pinline'><i class="fa fa-whatsapp" aria-hidden="true"></i> </p>
									<%end%>
									<%if annonce.telephone_type1?%>
										<p class='pinline'><i class="fa fa-mobile" aria-hidden="true"></i> </p>
									<%end%>
									<p class='pinline'><%=annonce.telephones%></p></br>
								<%end%>

								<%if annonce.telephones2?%>
									<%if annonce.telephones_type2?%>
										<p class='pinline'><i class="fa fa-whatsapp" aria-hidden="true"></i> </p>
									<%end%>
									<%if annonce.telephone_type2?%>
										<p class='pinline'><i class="fa fa-mobile" aria-hidden="true"></i> </p>
									<%end%>
									<p class='pinline'><%=annonce.telephones2%></p></br>
								<%end%>
							</div>
							<div class="col-xs-6 text-left">
								<%if annonce.telephones3?%>
									<%if annonce.telephones_type3?%>
										<p class='pinline'><i class="fa fa-whatsapp" aria-hidden="true"></i> </p>
									<%end%>
									<%if annonce.telephone_type3?%>
										<p class='pinline'><i class="fa fa-mobile" aria-hidden="true"></i> </p>
									<%end%>
									<p class='pinline'><%=annonce.telephones3%></p></br>
								<%end%>

								<%if annonce.telephones4?%>
									<%if annonce.telephones_type4?%>
										<p class='pinline'><i class="fa fa-whatsapp" aria-hidden="true"></i> </p>
									<%end%>
									<%if annonce.telephone_type4?%>
										<p class='pinline'><i class="fa fa-mobile" aria-hidden="true"></i> </p>
									<%end%>
									<p class='pinline'><%=annonce.telephones4%></p>
								<%end%>
							</div>
					</div>
					<div class='row text-center'>
						</br>
						<%= link_to 'Подробнее', annonce_path(annonce), :class => "btn btn-info" %>
					</div>
				</div>
			</div>
		<%end%>

		<div class='container-fluid text-center'>
			<%= paginate @lespagesall%>
		</div>
	<%end%>

<div class='row cont_2part hidden-xs'>
	<div class='col-sm-4 info'>
		<div class='row iconinfo text-center'>
			<i class="fa fa-tag" aria-hidden="true"></i>
		</div>
		</br>
		<h3>Поиск маршрута</h3>
		<p>На сайте указано "Куда", "Откуда", вам всего лишь нужно ввести название городов, чтобы найти нужный маршрут.</p>
		</br>
	</div>
	<div class='col-sm-4 tuto'>
		<div class='row icontuto text-center'>
			<i class="fa fa-thumbs-up" aria-hidden="true"></i>
		</div>
		</br>
		<h3>Зарегистрироваться </h3>
		<p>Чтобы связаться с водителем вам необходимо зарегистрироваться, для этого нажмите <%=link_to 'сюда', new_user_registration_path%> <i class="fa fa-reply"></i></p>
		</br>
	</div>
	<div class='col-sm-4 agir'>
		<%unless user_signed_in?%>
			<div class='row icontuto text-center'>
				<i class="fa fa-user-plus" aria-hidden="true"></i>
			</div>
			<h3>Создать объявление</h3>
			<p>Чтобы создать объявление необходимо зарегистрироваться</br> для этого нажмите <%=link_to 'сюда', new_user_registration_path, class:'syudavert'%> <i class="fa fa-reply" aria-hidden="true"></i>
			</p>
		<%else%>
			<div class='row icontuto text-center'>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>
		
			</div>
			<h3>Создать объявление</h3>
			<p> Теперь вы можете создать свое объявление</p>
			<%= link_to new_annonce_path, class:'btn btn-info sozdatannonce' do%>
				<p><i class="glyphicon glyphicon-pencil"></i> Создать объявление </p>
			<%end%>
		<%end%>
	</div>
</div>

<div class='row cont_mob_2part visible-xs'>
	<%# separator * * * * * * * * * * * * * * * * * * * * * * * * * * * * %>
	<div class='row info'>
		<div class='row iconinfo text-center'>
			<i class="fa fa-tag" aria-hidden="true"></i>
		</div>
		</br>
		<h3>Поиск маршрута</h3>
		<p>На сайте указано "Куда", "Откуда", вам всего лишь нужно ввести название городов, чтобы найти нужный маршрут.</p>
		</br>
	</div>
	<%# separator * * * * * * * * * * * * * * * * * * * * * * * * * * * * %>
	<div class='row tuto'>
		<div class='row icontuto text-center'>
			<i class="fa fa-thumbs-up" aria-hidden="true"></i>
		</div>
		</br>
		<h3>Зарегистрироваться </h3>
		<p>Чтобы связаться с водителем вам необходимо регистрироваться, для этого нажмите <%=link_to 'сюда', new_user_registration_path%> <i class="fa fa-reply"></i></p>
		</br>
	</div>
	<%# separator * * * * * * * * * * * * * * * * * * * * * * * * * * * * %>
	<div class='row agir'>
		<%unless user_signed_in?%>
			<div class='row icontuto text-center'>
				<i class="fa fa-user-plus" aria-hidden="true"></i>
			</div>
			<h3>Создать объявление</h3>
			<p>Чтоб создать объявление нужно регистрироваться</br> для этого нажмите <%=link_to 'сюда', new_user_registration_path, class:'syudavert'%> <i class="fa fa-reply" aria-hidden="true"></i>
			</p>
		<%else%>
			<div class='row icontuto text-center'>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>
		
			</div>
			<h3>Создать объявление</h3>
			<p> Теперь вы можете создать свое объявление</p>
			<%= link_to new_annonce_path, class:'btn btn-info sozdatannonce' do%>
				<p><i class="glyphicon glyphicon-pencil"></i> Создать объявление </p>
			<%end%>
		
		<%end%>
	</div>
	<%# separator * * * * * * * * * * * * * * * * * * * * * * *£££ * * * * * %>
</div>