
<%= form_for(@annonce) do |f| %>
  <% if @annonce.errors.any? %>
    <div id="error_explanation">
      <h2>Пожалуйста заполните следующие поля:</h2>

	  <ul class='listerreurs'>
	      <% @annonce.errors.each do |attribute, message| -%>
	          <% if message.is_a?(String)%>
	              <li><p><%= message %></p></li>
	          <% end %>
	      <% end -%>
	  </ul>
    </div>
  <% end %>
  
  		<div class='row'>
  			<div class='col-md-4 col-md-offset-4'></br></br></br>
  		<p> Если поисковик вам предлагает нужный город, рекомендуем выбрать его из списка. Так клиентам будет легче найти ваше объявление.   </p></br>
  	</div>
  </br>
  	</div>
  <div class='row intercalere'>
  	<h4>Информация по поездке</h4></br>
  </div>
  
    <div class="field">
      <%= f.text_field :ville_depart, class: 'inputter villesd', id:'villedep', :placeholder => 'Откуда ?' %>
      <%= f.text_field :ville_arrive, class: 'inputter villesd', id: 'villearr', :placeholder => 'Куда ?'  %>
    </div>
	
    <div class="field">
      <%= f.label "когда ? ", class:'nazvanie' %> 
	    <%= f.date_select :date_depart, order: [ :day, :month, :year], prompt: { day: 'день', month: 'месяц', year: 'год' }, start_year: Date.today.year, use_month_names: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь','Декабрь'] %>	</br>
	  <%=  f.number_field :nombre_chauffeurs, class: 'inputter', :placeholder => 'сколько водителей ?'%></br>
	  <%= f.number_field :arrets_chaque, :class => 'inputter', :placeholder => " остановка каждые / часа " %>
    </div>
	
	<div class='row intercalere'>
		<h4>Информация об транспортном средстве</h4></br>
	</div>
	
    <div class="field text-center">
      <%= f.text_field :marque_vehicule, class: 'inputter', :placeholder => 'на какой машине ? ' %>
      <%= f.text_field :annee_vehicule, class: 'inputter', :placeholder => 'какого года выпуска ? '  %>
	  <%= f.number_field :nombre_place, class:'inputter', :placeholder => 'Сколько мест в автомобиле?'%>
    </div>
    <div class="field hidden-xs">
		<%= f.label :image, 'Нажмите на кнопку чтобы добавить фото автомобиля' %>
      <%= f.file_field :image, class:'imageput'%>
    </div>
	
    <div class="field visible-xs">
		<%= f.label :image, 'Нажмите на кнопку чтобы добавить фото автомобиля' %>
      <%= f.file_field :image, class:'imageputxs'%>
    </div>
	
	<div class='row intercalere'>
		<h5>Информация о ценах</h4></br>
	</div>
    <div class="field">
      <%= f.text_field :prix_passager, class: 'inputter', :placeholder => 'сколько стоит проезд ?' %>
      <%= f.text_field :poid_max_passager, class: 'inputter', :placeholder => 'сколько килограмм можно взять ? '  %>
    </div>
	
    <div class="field">
		<%= f.label "Перевозите ли вы посылки/груз?", class: 'perevoziti' %>
		<%if @annonce.prix_kg_colis == nil%>
      	<%= f.check_box :accept_colis, class: 'perevoziti posilkiperevoz', checked: false %></br>
	  	<%else%>
      	<%= f.check_box :accept_colis, class: 'perevoziti posilkiperevoz', checked: true %></br>
	  	<%end%>
	  	<%= f.label "Перевозите ли вы важные бумаги?", class: 'perevoziti' %> 
	  	<% if @annonce.accept_colis_valeur? %>
      	<%= f.check_box :accept_colis_valeur, class: 'perevoziti', checked: true %></br>
	  	<%else%>
      	<%= f.check_box :accept_colis_valeur, class: 'perevoziti', checked: false %></br>
	  	<%end%>
	  <div class='perevozka'>
       <%= f.text_field :prix_kg_colis, class: 'inputter', :placeholder => 'стоимость доставки за кг' %>
       <%= f.text_field :poid_min_colis, class: 'inputter', :placeholder => 'минимальный вес посылки/груза'%>
	   </div>
    </div>
	<div class='row intercalere'>
		<h4>Контакт и подробности</h4></br>
	</div>
    <div class="field">
      <%= f.telephone_field :telephones, :class => 'inputter', :placeholder => "второй номер телефона " %>
    </div>
    <div class="field">
		<div class='row'>
			<div class='col-md-6 col-md-offset-3'>
      		  <%= f.text_area :description, class: ' podrobnosti', :placeholder =>"Напишите все подробности. Место встречи, время встречи итд." %>
	  		</div>
	  	</div>
    </div>
  <div class="actions">
    <%= f.submit 'Создать объявление', class:'btn btn-info'%>
  </div>
<% end %>

