<%= render 'shared/navbar' %>
<div class='containercustom text-center'>
	
	<div class='row text-center headershow'>

		<div class='col-md-6 text-left fotka'>
			<%if @annonce.image_stored?%>
				<%= image_tag @annonce.image.thumb('600x450#').url%>
			<%else%>
				<div class='fotonotfound'>
				</div>
			<%end%>
		</div>

		<div class='col-md-6 vajnoe'>


			<div class='row tuda text-center'>
				<h4><%= @annonce.ville_depart.truncate_words(1, omission: ' ') %> - <%= @annonce.ville_arrive.truncate_words(1, omission: ' ') %> </h4>
			</div>

			<div class='row voditeletmashina text-left'>
				<div class='col-md-1 text-left'>
					<i class="fa fa-user" aria-hidden="true"></i>
				</div>
				<div class='col-md-3 text-left'>
					<h3 class='pinline'><%= @annonce.user.prenom.truncate_words(1, omission: ' ')%></h3>
				</div>
				<div class='col-md-1 text-left'>
					<i class="fa fa-car" aria-hidden="true"></i> 
				</div>
				<div class='col-md-7 text-left'>
					<h3 class='pinline'><%= @annonce.marque_vehicule.truncate_words(2, omission: ' ') %> <%= @annonce.annee_vehicule %>, <%= @annonce.nombre_place%> местный автомобил></h3>
				</div>

			</div>


			<div class='row voditeletmashina text-left'>
				<div class='col-md-1 text-left'>
					<i class="fa fa-user" aria-hidden="true"></i>
				</div>
				<div class='col-md-3 text-left'>
					<h3 class='pinline'><%= @annonce.user.prenom.truncate_words(1, omission: ' ')%></h3>
				</div>
				<div class='col-md-1 text-left'>
					<i class="fa fa-car" aria-hidden="true"></i> 

				</div>
				<div class='col-md-7 text-left'>
					<h3 class='pinline'><%= @annonce.marque_vehicule.truncate_words(2, omission: ' ') %> <%= @annonce.annee_vehicule%>, <%= @annonce.nombre_place%> местный автомобиль</h3>
				</div>

			</div>


			<div class='row voditeletmashina text-left'>
				<div class='col-md-1 text-left'>
					<i class='pinline fa fa-users'></i>
				</div>
				<div class='col-md-3 text-left'>
						<% if @annonce.nombre_chauffeurs == 1%>
						<h3 class='pinline'><%= @annonce.nombre_chauffeurs %> водитель</h3>
						<%else%>
						<h3 class='pinline'><%= @annonce.nombre_chauffeurs %> водителя</h3>
						<%end%>
				</div>
				<div class='col-md-1 text-left'>
					<i class='fa fa-coffee'></i>

				</div>
				<div class='col-md-7 text-left'>
					<% if @annonce.arrets_chaque == 1%>
						<h3 class='pinline'>Остановка каждый час</h3>
						<%elsif @annonce.arrets_chaque == 2%>
						<h3 class='pinline'>Остановка каждые <%= @annonce.arrets_chaque %> часа</h3>
						<%elsif @annonce.arrets_chaque == 3%>
						<h3 class='pinline'>Остановка каждые <%= @annonce.arrets_chaque %> часа</h3>
						<%elsif @annonce.arrets_chaque == 4%>
						<h3 class='pinline'>остановка каждые <%= @annonce.arrets_chaque %> часа</h3>
						<%else%>
						<h3 class='pinline'>Остановка каждые <%= @annonce.arrets_chaque %> часов</h3>
					<%end%>
				</div>
			</div>


			<div class='row voditeletmashina text-left'>
				<div class='col-md-1 text-left'>
					<i class="fa fa-user" aria-hidden="true"></i>
				</div>
				<div class='col-md-3 text-left'>
					<h3 class='pinline'><%= @annonce.user.prenom.truncate_words(1, omission: ' ')%></h3>
				</div>
				<div class='col-md-1 text-left'>
					<i class="fa fa-suitcase" aria-hidden="true"></i>
				</div>
				<div class='col-md-7 text-left'>
					<h3 class='pinline'>Багаж с пассажира не должен превышать <%= @annonce.poid_max_passager %> килограм </h3>
				</div>

			</div>

		</div>


	</div>

</div>
<div class='row text-center photobaniere'>
		<div class='col-md-4 text-left'>
			<%= link_to  :back do%>
				<h4 class='pinline'><i class=" fa fa-chevron-left" aria-hidden="true"></i></h4>
			<%end%>
		</div>
		<div class='col-md-4 text-center'>
			<h4><%= @annonce.ville_depart.truncate_words(1, omission: ' ') %> - <%= @annonce.ville_arrive.truncate_words(1, omission: ' ') %> </h4>
		</div>
		<div class='col-md-4 text-right'>
			<h4><%=@annonce.date_depart%></h4>
		</div>
	</div>
