<p id="notice"><%= notice %></p>


<%if @avatar.image_stored?%>
				<%=image_tag @avatar.image.thumb('800x700#').url%>
			<%else%>
				<div class='fotopardefaultxs'>
					<%= image_tag("marshrutka.jpg")%>
				</div>
			<%end%>

<%= link_to 'Edit', edit_avatar_path(@avatar) %> |
<%= link_to 'Back', avatars_path %>
